body {
  padding-top: 50px;
}
.starter-template {
  padding: 10px 15px;
 /** text-align: center;*/
}

#editor{
	position: relative;
	padding: 20px;
	min-height: 400px;
}

#control{
	padding-bottom: 10px;
	padding-left: 20px;
}

.avatar {
	max-height: 40px
}