body {
  padding-top: 50px;
}
.starter-template {
  padding: 10px 15px;
 /** text-align: center;*/
}

#editor{
	position: relative;
	padding: 20px;
	min-height: 400px;
}

.control{
	padding-bottom: 10px;
	padding-left: px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}